<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Modern Software Concepts - {% block title %}{% endblock title %}
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>

<nav>
    <ul>
    <li><a href="{{ url_for('pages.home') }}"
        class="{% if active == 'home' %}active{% endif %}">
        Home
    </a></li>
    <li><a href="{{ url_for('pages.contact') }}"
        class="{% if active == 'contact' %}active{% endif %}">
        Contact
    </a></li>
    <li><a href="{{ url_for('pages.projects') }}"
        class="{% if active == 'projects' %}active{% endif %}">
        Projects
    </a></li>
    <ul>
</nav>

<hr>

{% block content %}{% endblock %}

</body>
</html>