
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">

    <div class="bio">

    
        <h1>Ritwik Salunke</h1>
        <h2>Student at Johns Hopkins University</h2>

        <p>
            Ritwik Salunke is a student in the Online AI Masters Program. He is learning software development with a focus on python. He currently has a Bachelor's of Science in Biochemistry. 
        </p>
    </div>

    <div class="image">
        <img src="{{url_for('static', filename='images/IMG_4635.jpg')}}"
        width="250"
    </div>

</div>

{% endblock %}